<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grapro.mapper.PoliceUserMapper">
    <resultMap id="BaseResultMap" type="com.grapro.pojo.PoliceUser" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="policename" property="policename" jdbcType="VARCHAR" />
        <result column="policepassword" property="policepassword" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, policename, policepassword
    </sql>

    <select id="selectBypolicename" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from policeuser
        where policename = #{policename,jdbcType=VARCHAR}
    </select>

</mapper>